<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm Người Dùng</title>
</head>
<body>
<h2>Thêm Người Dùng</h2>
<form th:action="@{/addUser}" th:object="${user}" method="POST">
    First Name:
    <input type="text" th:field="*{firstName}" required/>
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}" required/>
    <br/>
    Company:
    <select th:field="*{company.id}" required>
        <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.nameCompany}">Company Name</option>
    </select>
    <br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>
